
   body{
   margin: 0;
    justify-content: center;
    align-items: center;
    background:  #515368;
    width: 100%;
    
  } 
  nav{
      position: fixed;
      top: 0;
      background: #100000;
      width: 100%;
      padding: 10px 0;
      z-index: 12;
    
    }
    nav .menu{
      max-width: 1250px; 
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* padding: 0 20px; */
    }
    .menu .logo a{
      text-decoration: none;
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      text-transform: capitalize;
    }
    .menu .logo img{
      width:auto;
      height: 30px;
     padding-top: 5px;
    }
    .menu ul{
      display: inline-flex;
    }
    .menu ul li{
      list-style: none;
      margin-left: 7px;
    }
   
    .menu ul li a{
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 8px 15px;
      border-radius: 5px;
    }
    .menu ul li a:hover{
      background: #fff;
      color: black;
    } 
    .footer{
        position: fixed;
        text-align: right;
      bottom: 0;
      background: #100000;
      width: 100%; 
      margin-right:100%;  
    }
    h5{
        font-size: 22;
        color: aliceblue;
        padding-right: 20px;             
    }
    /************************************/
    .contact-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
      }
  
      .contact-form label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
  
       .contact-form input[type="text"],
      .contact-form input[type="email"],
      .contact-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
  
      .contact-form .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
  
      .contact-form .form-group .form-field {
        width: 48%;
      }
  
      .contact-form .form-group .form-field:last-child {
        margin-left: 4%;
      }
  
      .contact-form .form-group .form-field textarea {
        height: 100px;
      }
  
      .contact-form input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
  
      .contact-form input[type="submit"]:hover {
        background-color: #45a049;
      }
    